@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes backgroundFade {
  0% {
    background-color: rgba(192, 192, 192, 0.7);
  }
  25% {
    background-color: rgba(192, 192, 192, 0.3);
  }
  50% {
    background-color: rgba(192, 192, 192, 0.7);
  }
  100% {
    background-color: rgba(192, 192, 192, 0.3);
  }
}

.animate-background {
  animation: backgroundFade 1.5s infinite;
}
